*{
    box-sizing: border-box;
}
nav{
    background-color: dodgerblue;
    color: white;
}

.w3-card{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.w3-card-blue{
    margin:50px;
    border: 2px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    font-size: 25px;
}
.w3-card-red{
             margin-left:100px;
             margin-right:100px;
             border: 2px solid black;
             padding-bottom: 15px;
             padding-top: 15px;
             padding-left: 15px;
             padding-right: 15px;
             border-radius: 15px;
             font-size: 25px;
         }
#cloud-coverage{
    text-transform: capitalize;
}