* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: darkgray;
    width: 100%;

}
ul {
    list-style: none;
    padding-right: 1em;
    margin: 0;
    display: flex; /* made unordered list a flex container */
    font-size: 1.25em;
}
li{
    font-family: ;
}
nav a {
    text-decoration: none;
    color: black;

    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: .5em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: black;
}
#logo{
    font-size: 2em;
    padding:.2em;
    font-family: 'Montserrat', sans-serif;
}

nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */

    margin: auto;
}