/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
}

h1.fancy-header {
    color: blue;
}


#myContainer h1{
    text-align: center
}

element { width: 200px; }

element { height: 200px; }