/*
this file is named "site.css" and is in a directory named "css"
*/
element { background-color: #F00; }

.fancy-header {
    color: hotpink; /* single line comment */
    text-decoration: underline;
    text-align: center
}

/* make element text color red */
#myContainer {
        color: darkmagenta;
}

element { color: #F00; }

element { background-image: url("http://www.example.com/images/bck.png"); }



element { width: 200px; }

element { height: 200px; }