/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: hotpink; /* single line comment */
    text-decoration: underline;
}






element { width: 200px; }

element { height: 200px; }